.supplier-product-container {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(223, 211, 211, 0.116);
    min-width: 100%;
    min-height: 100px;
    margin-top: 40px;
}

.add-div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.dialog-product {
    padding: 10px;
}